<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <p> <a href="/login" class="btn">login to access your profile</a></p>
    </div>
</body>
</html>
